<h1 style="text-align:center;"><strong>Guardar la Data en archivos CSV<strong></h1>

<h3><strong>Parte 1: Importar las bibliotecas y definir el directorio de los archivos</strong></h3>

<h4 style="text-align:justify;">Paso 1: Importar librerías</h4>

In [1]:
import json
import os
import time
import pandas as pd
import numpy as np
from ScopusModule import Utils

<h4 style="text-align:justify;">Paso 2: Definir la ruta del directorio</h4>

In [2]:
directorio = "13-07-2022"

<h3><strong>Parte 2: Leer la data en dataframes</strong></h3>

<h4 style="text-align:justify;">Leer las afiliaciones</h4>

In [3]:
dfAffiliations = pd.read_pickle('data/completo/'+directorio+'/recast_affiliation.pkl')
dfAffiliations

,affiliation_name,city,country
identifier,,,
112741363,Fundación Sumac Muyu,None,Ecuador
125617636,Independent Agricultural Consultant,Santo Domingo,Ecuador
127300599,Fundación Agroecológica Río Negro,Santo Domingo de los Tsachilas,Ecuador
112632961,Gobierno Provincial de Imbabura,None,Ecuador
122274347,EMBIOECSA,Guayaquil,Ecuador
...,...,...,...
113849153,Instituto Superior Tecnológico Sucre,Quito,Ecuador
123212418,Asociación Nacional Nutricionistas del Ecuador...,Quito,Ecuador
108669264,Hospital Alli Causai,None,Ecuador
126364744,UNL,Loja,Ecuador
120233183,Pontificial Catholic University of Ecuador in ...,None,Ecuador

<h4 style="text-align:justify;">Leer los artículos</h4>

In [3]:
dfArticles = pd.read_pickle('data/completo/'+directorio+'/recast_article.pkl')
dfArticles

,title,publication_date,doi,abstract,affiliations,authors,author_keywords,author_count,affiliation_count,corpus,titleAbstractLowerCase
identifier,,,,,,,,,,,
85133492759,"Metamodeling and Audio Signals Design Process,...",2023-01-01,10.1007/978-3-031-09659-4_42,The context of the following work arises from ...,"[{'afid': '60106645', 'affilname': 'Universida...","[{'authid': '57781304700', 'authname': 'Peñahe...",Audio signals design process | Experimental de...,3,2,True,"metamodeling and audio signals design process,..."
85133293730,Facility Layout Design in Textile MSMEs. Liter...,2023-01-01,10.1007/978-3-031-09360-9_23,The capacity to respond and adapt to risks and...,"[{'afid': '60106645', 'affilname': 'Universida...","[{'authid': '57777188600', 'authname': 'Albán-...",Facility layout problem | Indicators | Resilie...,5,2,True,facility layout design in textile msmes. liter...
85132518705,Optimal finite sample post-selection confidenc...,2023-01-01,10.1016/j.jspi.2022.06.001,Uniformly most powerful confidence distributio...,"[{'afid': '60121225', 'affilname': 'Leuven Sta...","[{'authid': '57572669100', 'authname': 'Garcia...",Confidence distribution | Confidence interval ...,2,2,True,optimal finite sample post-selection confidenc...
85112575431,"Corporate social responsibility, green innovat...",2022-12-19,10.1108/CR-12-2020-0160,Purpose: The purpose of this paper is to explo...,"[{'afid': '60072050', 'affilname': 'Universida...","[{'authid': '57195298226', 'authname': 'Padill...",Competitiveness | Corporate social responsibil...,2,2,True,"corporate social responsibility, green innovat..."
85109263966,Analysing competing logics towards sustainable...,2022-12-19,10.1108/SCM-07-2020-0354,Purpose: To understand the context surrounding...,"[{'afid': '60112757', 'affilname': 'Excelia Bu...","[{'authid': '57190878471', 'authname': 'León B...",Food industry | Global supply chain | Supply c...,3,3,True,analysing competing logics towards sustainable...
...,...,...,...,...,...,...,...,...,...,...,...
33646049406,Beiträge zur Kenntnis des Fluges der Fledermäu...,1925-01-01,10.1111/j.1463-6395.1925.tb00265.x,NaN,"[{'afid': '120628571', 'affilname': 'Marbach a...","[{'authid': '35935630900', 'authname': 'Spillm...",NaN,1,1,False,beiträge zur kenntnis des fluges der fledermäu...
77957209355,The capsulín cherry: A superior form of the no...,1922-01-01,10.1093/oxfordjournals.jhered.a102156,NaN,"[{'afid': '60032280', 'affilname': 'United Sta...","[{'authid': '36511689400', 'authname': 'Popeno...",NaN,2,2,False,the capsulín cherry: a superior form of the no...
84941812731,Uncinarial nephritis,1921-01-01,10.1001/archinte.1921.00100170051003,NaN,"[{'afid': '60072042', 'affilname': 'Universida...","[{'authid': '56852172200', 'authname': 'Rojas ...",NaN,2,1,False,uncinarial nephritis nan
84944669127,Hookworm and other intestinal parasites in ecu...,1920-12-18,10.1001/jama.1920.02620510016007,NaN,"[{'afid': '115872020', 'affilname': 'South Ame...","[{'authid': '56910946000', 'authname': 'Royer ...",NaN,1,1,False,hookworm and other intestinal parasites in ecu...
84944670009,Yellow fever control in ecuador: Final report,1920-10-30,10.1001/jama.1920.02620440014006,NaN,"[{'afid': '115871777', 'affilname': 'Field Dir...","[{'authid': '56910852500', 'authname': 'Connor...",NaN,1,1,False,yellow fever control in ecuador: final report nan

<h4 style="text-align:justify;">Leer los autores</h4>

In [5]:
dfAuthors = pd.read_pickle('data/completo/'+directorio+'/recast_author.pkl')
dfAuthors

                 first_name       last_name            auth_name initials
identifier
57219054382     Jorge Edwin  Ormaza Andrade  Ormaza Andrade J.E.     J.E.
57192930404           Mario         Hurtado           Hurtado M.       M.
57192803433  Ruth Elizabeth   Minga-Vallejo   Minga-Vallejo R.E.     R.E.
57220465983          Carlos           Tapia             Tapia C.       C.
57215549671          Pelayo  Salinas-DeLeón    Salinas-DeLeón P.       P.
...                     ...             ...                  ...      ...
57216415863          Johana        Quinonez          Quinonez J.       J.
57209980941            José        Palacios          Palacios J.       J.
57192640335        Santiago          Aguiar            Aguiar S.       S.
57191111922           J. R.      VELASTEGUI        VELASTEGUI J.     J.R.
57204708491   Jimmy Gustavo   Briceño Buele   Briceño Buele J.G.     J.G.

[39225 rows x 4 columns]

<h4 style="text-align:justify;">Leer las author_keywords</h4>

In [6]:
dfAuthorKeywords = pd.read_pickle('data/completo/'+directorio+'/recast_author_keyword.pkl')
dfAuthorKeywords

                                             name
identifier
0                    Audio signals design process
1                   Experimental design processes
2                                Fictional spaces
3                        Sound and changing forms
4                         Facility layout problem
...                                           ...
86309                         recurrent selection
86310       3,3-dimethoxy-22,26-epiminocholestane
86311                         Solanum pseudoquina
86312                       stereoidal alkaloids.
86313                               Thyroglobulin

[86314 rows x 1 columns]

<h4 style="text-align:justify;">Leer las relaciones article_affiliation</h4>

In [7]:
dfArticlesAffiliations = pd.read_pickle('data/completo/'+directorio+'/recast_article_affiliation.pkl')
dfArticlesAffiliations

        article_id affiliation_id
0      85133492759       60106645
1      85133293730       60106645
2      85133293730       60072035
3      85132518705       60072061
4      85112575431       60072050
...            ...            ...
55297  33646049406      120628571
55298  77957209355      109557708
55299  84941812731       60072042
55300  84944669127      115872020
55301  84944670009      115871777

[55302 rows x 2 columns]

<h4 style="text-align:justify;">Leer las relaciones article_author</h4>

In [8]:
dfArticlesAuthors = pd.read_pickle('data/completo/'+directorio+'/recast_article_author.pkl')
dfArticlesAuthors

         article_id    author_id
0       85133492759  57781304700
1       85133293730  57777188600
2       85133293730  57209969066
3       85133293730  57581708700
4       85133293730  57219597377
...             ...          ...
102587  77957209355  36511972300
102588  84941812731  56852172200
102589  84941812731  56852475000
102590  84944669127  56910946000
102591  84944670009  56910852500

[102592 rows x 2 columns]

<h4 style="text-align:justify;">Leer las relaciones author_affiliation</h4>

In [9]:
dfAuthorsAffiliations = pd.read_pickle('data/completo/'+directorio+'/recast_author_affiliation.pkl')
dfAuthorsAffiliations

         author_id affiliation_id
0      57556791300       60072035
1      57221752656       60105694
2       6508191924      101330130
3      56481581500      114889267
4      57218280892       60105694
...            ...            ...
48357  57201792387       60072036
48358  57204909849       60104598
48359  57205361475       60105693
48360  57226459002       60108339
48361  57195685364       60104598

[48362 rows x 2 columns]

<h4 style="text-align:justify;">Leer las relaciones article_author_keywords</h4>

In [11]:
#OPCIÓN 1: Almacena la author_keyword_id
dfArticlesAuthorKeywords = pd.read_pickle('data/completo/'+directorio+'/recast_article_author_keyword.pkl')
dfArticlesAuthorKeywords

         article_id  author_keyword_id
0       85133492759                  0
1       85133492759                  1
2       85133492759                  2
3       85133492759                  3
4       85133293730                  4
...             ...                ...
162824  49349128136              34003
162825  49349128136              86311
162826  49349128136              86312
162827   0014703748              86294
162828   0014703748              86313

[162829 rows x 2 columns]

In [12]:
#OPCIÓN 2: Almacena la author_keyword_id y la author_keyword
dfArticlesAuthorKeywords['author_keyword'] = dfArticlesAuthorKeywords['author_keyword_id'].apply(lambda x: dfAuthorKeywords.loc[x]['name'])

In [13]:
dfArticlesAuthorKeywords

         article_id  author_keyword_id                 author_keyword
0       85133492759                  0   Audio signals design process
1       85133492759                  1  Experimental design processes
2       85133492759                  2               Fictional spaces
3       85133492759                  3       Sound and changing forms
4       85133293730                  4        Facility layout problem
...             ...                ...                            ...
162824  49349128136              34003                     Solanaceae
162825  49349128136              86311            Solanum pseudoquina
162826  49349128136              86312          stereoidal alkaloids.
162827   0014703748              86294                 Endemic goiter
162828   0014703748              86313                  Thyroglobulin

[162829 rows x 3 columns]

<h3><strong>Parte 3: Guardar la data en archivos CSV</strong></h3>

<h4 style="text-align:justify;">Guardar las afiliaciones</h4>

In [14]:
dfAffiliations.to_csv('data/completo/'+directorio+'/affiliations.csv')

<h4 style="text-align:justify;">Guardar los artículos</h4>

In [4]:
cols = ["title", "publication_date", "doi", "abstract", "author_count", "affiliation_count", "corpus"]
dfArticles[cols].to_csv('data/completo/'+directorio+'/articles.csv')

<h4 style="text-align:justify;">Guardar los autores</h4>

In [16]:
dfAuthors.to_csv('data/completo/'+directorio+'/authors.csv')

<h4 style="text-align:justify;">Guardar las author_keywords</h4>

In [17]:
dfAuthorKeywords.to_csv('data/completo/'+directorio+'/author_keywords.csv')

<h4 style="text-align:justify;">Guardar las relaciones article_affiliation</h4>

In [18]:
dfArticlesAffiliations.to_csv('data/completo/'+directorio+'/articles_affiliations.csv')

<h4 style="text-align:justify;">Guardar las relaciones article_author</h4>

In [19]:
dfArticlesAuthors.to_csv('data/completo/'+directorio+'/articles_authors.csv')

<h4 style="text-align:justify;">Guardar las relaciones author_affiliation</h4>

In [20]:
dfAuthorsAffiliations.to_csv('data/completo/'+directorio+'/authors_affiliations.csv')

<h4 style="text-align:justify;">Guardar las relaciones article_author_keyword</h4>

In [21]:
dfArticlesAuthorKeywords.to_csv('data/completo/'+directorio+'/articles_author_keywords.csv')